/*header stylig*/

header {
	height: 100vh;
	padding-top: 1%;
	background-image:repeating-linear-gradient( -65deg, #41e0d8, #41e0d8 60%, #fff 60%, #fff );
	overflow: hidden;
}

header div button {
	float: right;
	margin-top: 6%;
}

.btn {
	border-radius: 0;
	color: #fff;
	font-size: 12px;
	transition: all 250ms ease-in;
}

.btn-transparent,
.btn-dark,
.btn-turq {
	font-weight: 600px;
}

.btn-transparent {
	background-color: transparent;
}

.btn-transparent:hover {
	color: #262a34;
}

.btn-dark {
	background-color: #262a34;
}

.btn-dark:hover {
	background-color: transparent;
}

.btn-turq {
	background-color: #41e0d8;
}

.btn-turq:hover {
	color: #262a34;
}

header .container .row:last-child {
	margin-top: 10%;
	position: relative;
	margin-bottom: 1px;
	
}

header .container .row:last-child div:first-child {
	min-height: 540px;
	background-image: url(../img/phone.png);
	background-color: transparent;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center top;
}

header .container .row:last-child div:last-child {
		
}

h1 {
	font-weight: 800;
	font-size: 280%;
}

header h1 {
	color: #262a34;
}

h1 em,
h1 span {
	color: #fff;
	font-weight: 800;
}

h1 span {
	vertical-align: text-top;
}

h1 + p,
h2 + p {
	margin: 10% 0;
}

a.play-market {
	position: relative;
	display: inline-block;
	margin-left: -12px;
	margin-top: -12px;
}

a.play-market img {
	width: 170px;
}

a.play-market:hover {
	-webkit-animation: scaling 500ms ease-out;
	        animation: scaling 500ms ease-out;
} 

@-webkit-keyframes scaling {
	0% { -webkit-transform: scale(1); transform: scale(1);}
	40% { -webkit-transform: scale(.95); transform: scale(.8);}
	60% { -webkit-transform: scale(1.1); transform: scale(1.2);}
/*	80% { -webkit-transform: scale(.95); transform: scale(.8);}*/
	100% { -webkit-transform: scale(1); transform: scale(1);}
} 

@keyframes scaling {
	0% { -webkit-transform: scale(1); transform: scale(1);}
	40% { -webkit-transform: scale(.95); transform: scale(.8);}
	60% { -webkit-transform: scale(1.1); transform: scale(1.2);}
/*	80% { -webkit-transform: scale(.95); transform: scale(.8);}*/
	100% { -webkit-transform: scale(1); transform: scale(1);}
}

/*main block styling*/

main {
	height: 100vh
}
/*first main block styling*/

main:first-of-type {
	background: #262a34;
	
}

main:first-of-type h2,
main:first-of-type p
{
	color: #fff;
}

main:first-of-type h2 {
	margin-top: 0;
	font-weight: 700;
}

main:first-of-type .container {
	position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

main:first-of-type .btn-turq {
	margin-bottom: 3%;
}

/*last main block styling*/
main:last-of-type {
	background: #41e0d8;
	
}

/*carousel*/
.jcarousel {
    position: relative;
    overflow: hidden;
}

/*
This is the container of the carousel items.
You must ensure that the position is relative or absolute and
that the width is big enough to contain all items.
*/
.jcarousel ul {
    width: 20000em;
    position: relative;

    /* Optional, required in this case since it's a <ul> element */
    list-style: none;
    margin: 0;
    padding: 0;
}

/*
These are the item elements. jCarousel works best, if the items
have a fixed width and height (but it's not required).
*/
.jcarousel li {
    /* Required only for block elements like <li>'s */
    float: left;
}

.jcarousel li img {
	width: 100%;
}

.jcarousel-pagination {
	text-align: center;
}

.jcarousel-pagination a {
	display: inline-block;
	margin: .5%;
	font-size: 0;
	width: 15px;
	height: 15px;
	padding: .5%;
	background-color: #fff;
	font-weight: 600;
	border-radius: 100%;
	text-decoration: none;
}

.jcarousel-pagination a:hover {
	opacity: .7;
}

.jcarousel-pagination a:active {
	background-color: #41e0d8;
}